/* styles.css */
body {
    background-image: url('E:/Users/Jarir Ahmed/OneDrive/Documents/VBS_Practice/Projects/ToDOLIST/images/background.jpeg'); /* Path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
.my-button {
    background-color: #3498db; /* Default background color */
    color: #ffffff; /* Default text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.my-button:hover {
    background-color: #2980b9; /* Background color on hover */
}

.edit-button {
    background-color: #27ae60; /* Default background color for Edit button */
    color: #ffffff; /* Default text color for Edit button */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #219653; /* Background color on hover for Edit button */
}

.delete-button {
    background-color: #e74c3c; /* Default background color for Delete button */
    color: #ffffff; /* Default text color for Delete button */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #d63031; /* Background color on hover for Delete button */
}
